.card-body {
    padding-top: 0.5vw;
    color: white;
    text-align: center;
}

.addToCartInput {
    width: 7vw;
    height: 7vw;
    margin-bottom: 0;
    font-size: xx-large;
}

.addToCart {
    background-image: url('https://i.ibb.co/DVMngpC/Cart.jpg');
    background-size: cover;
    width: 7vw;
    height: 7vw;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 3px darkred;
    border-radius: 5px;
    border-color: grey;
    margin-right: 7.3vw;
}

.outofstock {
    color: red;
    margin-left: 9.5vw;
    margin-top: 5vw;
    width: 9vw;
    height: 4vw;
    font-size: 25px;
    font-weight: 900;
    text-shadow: -3px 3px 3px black;
}

.absolute-top input {
    width: 2.6vw;
}

@media (max-width:991px) {
    .addToCartInput {
        width: 15vw;
        height: 15vw;
        font-size: xxx-large;
    }

    .outofstock {
        font-size: xx-large;
        margin-left: 17vw;
    }

    .addToCart {
        width: 15vw;
        height: 15vw;
        font-size: xx-large;
    }

    .card-body, h5{
        font-size: x-large;
    }
}

@media (max-width: 715px) {
    .addToCart, .addToCartInput {
        width: 16vw;
        height: 16vw;
    }
}

@media (max-width: 675px) {
    .addToCart, .addToCartInput {
        width: 19vw;
        height: 19vw;
    }
}

@media (max-width: 576px) {
    .outofstock {
        font-size: xxx-large;
        margin-left: 35vw;
    }

    .card-body, h5{
        font-size: xx-large;
    }

    .addToCart, .addToCartInput {
        width: 25vw;
        height: 25vw;
    }
    
    .addToCart{
        font-size: x-large;
    }
}

@media (max-width: 330px) {
    .addToCart, .addToCartInput{
        width: 32vw;
        height: 32vw;
    }
}